/**
 * Custom application styles
 */

#content {
  @extend .row;
}

.flash {
  @extend .alert-box;
  &, ul {
    @extend .no-bullet;
  }
  &.error {
    @extend .alert;
  }
}

input[type="submit"] {
  @extend .button;
}

.actions {
  @extend .inline-list;
  a {
    @extend .button, .small;
  }
}

.form-list {
  @extend .no-bullet;
}

.form-submit {
  input[type="submit"] {
    margin-bottom: 0;
  }
}

footer {
  @extend .row;
}

#footer-nav {
  @extend .columns;
  ul {
    @extend .inline-list;
  }
}

.campaign-list {
  @extend .no-bullet;
  > li {
    padding: .5em 0;
    border-bottom: 1px solid $hr-border-color;
  }
  .row-actions {
    @extend .inline-list;
    float: right;
    margin: 0;
  }
}

#signature-form {
  .form-submit {
    float: right;
    margin: 0;
  }
}