/**
 * Custom application styles
 */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height: 100%;
  overflow: auto;
  padding-bottom: 5rem;
}

#site-logo {
  display: block;
  img {
    max-height: 100%;
    padding: .25em 1em;
  }
}

.page-header, .main {
  @extend .columns;
}

.primary {
  @extend .large-8, .columns;
}

.secondary {
  @extend .large-4, .columns;
}

footer {
  min-height: 3rem;
  margin-top: -3rem;
}

#content {
  @extend .row;
}

.flash {
  @extend .alert-box;
  clear: both;
  &, ul {
    @extend .no-bullet;
  }
  &.error {
    @extend .alert;
  }
}

h1 {
  @extend .columns;
}

textarea {
  max-width: 100%;
}

label {
  input[type="checkbox"] {
    margin: 0 .5em 0 0;
  }
}

input[type="submit"] {
  @extend .button;
}

.campaign-link {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $primary-color;
}

.delete {
  @extend .instructions;
  padding: 0;
  &, &:hover, &:focus, &:active {
    color: $alert-color;
    background: transparent;
  }
}

.actions {
  @extend .inline-list;
  a {
    @extend .button, .small;
  }
}

.form-list {
  @extend .no-bullet;
  .delete {
    display: block;
    margin: 2em 0 0;
  }
}

.form-submit {
  text-align: right;
  input[type="submit"] {
    margin-bottom: 0;
  }
}

#petition-accordion {
  margin-bottom: 2 * $paragraph-margin-bottom;
  > a {
    @include transition(background, .8s);
  }
  dt, dd {
    @extend .clearfix;
  }
  .petition-selected {
    > a {
      background: lighten($success-color, 40%);
      &:before {
        content: $icon-checkmark;
        float: right;
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-left: 1em;
        font-family: $icon-font-family;
        font-size: 1.2em;
        color: $success-color;
      }
    }
  }
}

.empty-data, .petition-status {
  font-style: italic;
}

footer {
  @extend .row;
}

#footer-nav {
  @extend .columns;
  ul {
    @extend .inline-list;
    margin: 0;
    padding: .5em 0;
    border-top: 1px solid $hr-border-color;
  }
  a {
    color: $body-font-color;
    &:hover, &:focus, &:active {
      color: $anchor-font-color-hover;
    }
  }
}

.campaign-list {
  @extend .no-bullet;
  > li {
    position: relative;
    padding: .5em 5em .5em 0;
    border-bottom: 1px solid $hr-border-color;
    &:hover, &.hover, html.touch & {
      .row-actions {
        opacity: 1;
      }
    }
  }
  .row-actions {
    @extend .inline-list;
    position: absolute;
    right: 0;
    top: .6em;
    opacity: 0;
    margin: 0;
    font-size: 1.2em;
    line-height: 1;
    @include transition(opacity, .1s);
    a {
      overflow: hidden;
      color: $panel-border-color;
      &, &:before {
        display: inline-block;
        width: 1em;
        height: 1em;
      }
      &:before {
        font-family: $icon-font-family;
      }
      &:hover, &:focus, &:active {
        color: $primary-color;
      }
    }
    .edit {
      &:before {
        content: $icon-edit;
      }
    }
    .show {
      &:before {
        content: $icon-view;
      }
    }
  }

  .petition-toggle, .petition-list {
    font-size: .75em;
  }
  .petition-toggle {
    margin-bottom: 0;
    &, a {
      color: $form-label-font-color;
    }
    a {
      &:before {
        content: '\25b6';
        display: inline-block;
        width: $list-nested-margin;
        font-size: .75em;
      }
      &.open:before {
        content: '\25bc';
      }
      html.no-js &.before {
        content: '';
        display: none;
      }
    }
  }
  .petition-list {
    html.js & {
      display: none;
    }
  }
}

#signature-form {
  h2 {
    margin-bottom: $paragraph-margin-bottom;
  }
  .form-submit {
    float: right;
    margin: 0;
  }
  .form-list {
    li {
      @extend .medium-6, .columns;
    }
  }
  h2, p {
    @extend .columns;
  }
  .flash {
    margin-left: .5 * $column-gutter;
    margin-right: .5 * $column-gutter;
  }
  .form-submit {
    text-align: right;
  }

  html.js & {
    display: none;
    &.has-errors {
      display: block;
    }
  }
}

.instructions {
  font-size: .86em;
}

input.switch {
  position: relative;
  width: 2em;
  height: 1em;
  overflow: hidden;
  font-size: 2em;
  text-indent: 4em;
  border: 2px solid $panel-border-color;
  -webkit-appearance: none;
  &, &:before {
    border-radius: .5em;
  }
  &:before {
    content: ' ';
    position: absolute;
    left: -1px;
    top: -1px;
    display: block;
    width: 1em;
    height: 1em;
    background: $panel-bg;
    border: 1px solid $panel-border-color;
    @include transition(left, .2s);
  }
  &:checked {
    background: $success-color;
    &:before {
      left: 1em;
    }
  }
  label & {
    float: right;
    margin: 0 0 0 1em;
  }
}
label.has-switch {
  clear: both;
  float: left;
  margin-bottom: $paragraph-margin-bottom;
  font-size: 1em;
  line-height: 2em;
  font-weight: bold;
}